* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    cursor: url(../images/cursor.svg), pointer;
  }
}

.gallery {
  max-width: 1200px;
  padding: 80px 36px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px 24px;
  flex-wrap: wrap;
}

.gallery li {
  /* position: relative; */
  width: 360px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    transform: scale(1.02);
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
